.arrange {
    padding: 138px 0 99px;
    background-color: $medium-color;

    &__title {
        text-align: center;
        margin-bottom: 14px;

        &::before {
            top: -38px;
            left: 50%;
            transform: translateX(-50%);
        }
    }

    &__descr {
        line-height: 24px;
        text-align: center;
        max-width: 554px;
        width: 100%;
        margin: 0 auto 120px;
    }

    &__items {
        display: flex;
        justify-content: center;
        gap: 74px;

        @include a (tablet) {
            flex-direction: column;
            align-items: center;
            gap: 100px;
        }
    }

    &__item {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 5px;

        &-title {
            position: relative;

            &::before {
                content: "";
                position: absolute;
                width: 64px;
                height: 64px;
                top: -80px;
                left: 50%;
                transform: translateX(-50%);
            }

            &-1::before {
                background: url(/src/assets/images/arrange-item-1.png);
            }

            &-2::before {
                background: url(/src/assets/images/arrange-item-2.png);
            }

            &-3::before {
                background: url(/src/assets/images/arrange-item-3.png);
            }
        }

        &-descr {
            font-size: toRem(14);
            line-height: 20px;
            text-align: center;

            @include a (tablet) {
                max-width: 280px;
                width: 100%;
            }
        }
    }
}