.hero {
    padding: 302px 0 268px;
    background: url(/src/assets/images/hero-bg.jpg) no-repeat center/cover;

    @include a (mobile) {
        padding-bottom: 230px;
    }
    &-wrap {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__title {
        font-size: toRem(48);
        line-height: 53px;
        font-weight: 400;
        color: $light-color;
        text-align: center;
        position: relative;
        margin-bottom: 34px;

        &::before {
            content: "";
            position: absolute;
            width: 256px;
            height: 90px;
            background: url(/src/assets/images/hero-image.png);
            top: -124px;
            left: 50%;
            transform: translateX(-50%);
        }
    }

    &__span {
        font-size: toRem(14);
        letter-spacing: 2px;
        text-transform: uppercase;
        color: $light-color;
        position: relative;

        &::before {
            content: "";
            position: absolute;
            width: 60px;
            height: 60px;
            background: url(/src/assets/images/hero-icon.png);
            bottom: -173px;
            left: 50%;
            transform: translateX(-50%);
        }
    }
}